[2015-11-05 10:42] tommyd3mdi opened #1 "@RxLogObservable not working on interface method"
I'm using Retrofit2 and let it return instances of `Observable<Response<Payload>>`. If I annotate such a method with `@RxLogObservable` and kick off a request, I cannot see anything in Logcat.

Now, I'm not exactly sure if I'm doing everything right, since the interface in question resides in a module and yes, I have set `android { defaultPublishConfig "debug" }` set globally for all my Android mo

[2015-11-05 10:50] tommyd3mdi commented on #1
Ah, ignore me, we flavors in our library and need to work around that differently... sorry for the noise.

[2015-11-05 11:07] tommyd3mdi commented on #1
Got it working - short explanation here: We have a multi-flavor library and `android { publishNonDefault true }` enabled already on that, so `defaultPublishConfig "debug"` is not needed.

Now the issue was that when we referenced this library in our app module, we previously used a fixed release configuration, which will obviously not work. The solution is to do

    yourFlavorCompile project(path

[2015-11-05 11:11] tommyd3mdi commented on #1
Hah, now I guess it is actually an issue - annotating proxy interfaces is really not working, all other observables are. This workaround should however do the trick:

    @RxLogObservable
    private Observable<Request<Payload>> createObservable() {
              return myApi.createProxiedRequest();
    }

[2015-11-05 11:46] android10 commented on #1
@tommyd3mdi thanks for the feedback. I will look into this.

[2015-11-05 16:15] damianflannery commented on #1
I have the same issue (although I'm using Retrofit 1.9). Wrapping the call in a method as described above works. See: https://www.dropbox.com/s/nhic4ejo3pftje7/Screenshot%202015-11-05%2016.10.45.png?dl=0

Although I really don't want to do that for all 30+ Retrofit api calls. It would be great if I could just directly annotate those interface method signatures :)

[2015-11-05 22:54] android10 commented on #1
@damianflannery @tommyd3mdi thanks for the feedback. Really I'm thinking whether or not makes sense to be able to annotate interfaces, since the common use case would be to just print implementations.
I have to say I do not use retrofit so I might be missing something here.

[2015-11-06 09:38] damianflannery commented on #1
I thought everybody used Retrofit!

It supports RxJava directly and you use an interface to define your http calls (with various annotations). Here is a snapshot of my Retrofit interface (which currently has ~~30~~62 http calls defined) and you'll see why it would be so convenient if Frodo had this feature:
https://www.dropbox.com/s/cshn6t1ewh4tcea/Screenshot%202015-11-06%2009.26.11.png?dl=0

[2015-11-06 11:44] android10 commented on #1
@damianflannery it depends on the use case. For me it does too many things so I usually create an API wrapper around OkHttp. We do the same at SoundCloud.

[2015-11-06 12:11] damianflannery commented on #1
@android10 OK, it's definitely a 'nice to have' since you can manually wrap the interface. It might be worth adding something to the README in case anybody else follows the same steps and wonders why there is no output from Frodo.

Maybe you could consider as a future enhancement if enough people request it. Thanks for sharing this library, I think it's going to be really useful :)

[2015-11-06 13:19] tommyd3mdi commented on #1
Since I have no idea of the technical aspects here, what is the underlying issue that proxy interfaces cannot be processed?

[2015-11-08 12:34] meierjan opened #2 "No Logoutput at all"
Hey,

first thanks for your effort @android10.

I set up a project inspired by your clean-architecture repo (so I am using multi-modules). I (for example) put annotations on the `DefaultSubscriber` class (which is exactly as it is in your c-a repo). The `defaultPublishConfig` is added to all project build.gradle files. Everything compiles fine.

The Problem is that I don't get any output at all.

[2015-11-08 13:16] android10 commented on #2
Hi @meierjan, this is the commit where I enabled frodo on the Clean Architecture project. Can you make sure that you added frodo to your classpath in your build script?

https://github.com/android10/Android-CleanArchitecture/commit/0879354b4b5c9afb78d82be0d8cf16bcfd09ad90

[2015-11-09 05:55] xk009 commented on #2
I have same question。I config project follow your introduction。

[2015-11-09 08:11] meierjan commented on #2
Double checked and everything is the same.

[2015-11-09 16:21] Android-s14 opened #3 "Logging for methods returning Subscription"
Feature request if this is technically possible.

[2015-11-09 16:58] #2 closed

[2015-11-09 17:21] android10 commented on #2
@meierjan @xk009 is it working for you? Maybe the documentation is not clear or I'm missing something. Please any feedback/input on this is very welcome.

[2015-11-09 19:17] android10 commented on #3
Could you elaborate more @Android-s14 ?

[2015-11-09 19:22] android10 commented on #1
@damianflannery I will create an issue with this as a future enhancement.
@tommyd3mdi AspectJ gives me a JoinPoint and from there I detect the return type and inject code to log observables. By returning an interface I guess I should search for all implementations in the code and weave logging code in each one of them. I have to investigate a bit more here. Anyway, as I mentioned, I will create an

[2015-11-09 20:01] Android-s14 commented on #3
My apologies for being unclear.
Say we have a method:
[code]
I can just annotate it with `@RxLogObservable` and it works great.

Now I decide it's more convenient to subscribe to this observable inside the method and return `Subscription` (e.g., to add it to a `CompositeSubscription` right away):
[code]
I can always extract the observable creation part into it's own method and annotate it, but wou

[2015-11-09 20:06] meierjan commented on #2
@android10 Yes, it started working magically. I have no clue why - I didn't change anything :+1: Maybe making a clean build did the trick

[2015-11-09 20:09] android10 commented on #2
@meierjan good to hear. Maybe the android build tools or something that you updated did the trick. Anyway, thanks for the feedback/input :)

[2015-11-09 20:16] Android-s14 opened #4 "observeOn() / subscribeOn() thread detection"
Is it supposed to be like this by design: when I hide `observeOn()` / `subscribeOn()` behind `compose()`, for example, in logs I see:

Frankly, looking through some logs right now I don't see any other thread apart from "main"; I have to inject standard logging with `Thread.currentThread()` inside operators to check that it's not the main thread. I haven't tried it with primitive observables thoug

[2015-11-09 22:16] Android-s14 opened #5 "NullPointerException"
I've caught this stacktrace, please check if it's relevant:
[code]

[2015-11-09 23:24] android10 commented on #5
I will appreciate if you are more specific with what you are trying to do.
Even better if you can put some code of your annotated method.

[2015-11-09 23:26] android10 commented on #3
I want to keep the library as simple as possible for now and fix issues people come up with.
Even though that, this is something I will keep in mind for future versions.
Thanks for the feedback.

[2015-11-09 23:26] #3 closed

[2015-11-09 23:56] Android-s14 commented on #5
After looking at this stacktrace second time I realize it shows something strange: NPE when obtaining hashcode on `Pair` object. As for the context: I don't have the exact code right now, but it was `combineLatest` on two observables, plus perhaps some more operators downstream involving `Pair`s. Since I don't see how this stacktrace is even possible, the issue can be closed, if you don't have any

[2015-11-10 09:28] android10 commented on #5
Ok. I will close until we have more information or any other similar case.

[2015-11-10 09:28] #5 closed

[2015-11-10 13:33] Defuera opened #6 "Implement switcher to turn off and on logging"
This is not convenient to have frodo always enabled even it's only in a debug mode

[2015-11-10 21:19] android10 commented on #6
I don't see any value on this. Can you elaborate more your feature request?

[2015-11-11 22:27] android10 commented on #6
Closing issue and adding feature request label. We can re open it later if this turn to a valid feature.

[2015-11-11 22:27] #6 closed

[2015-11-11 22:31] android10 opened #7 "Support Rx Single"
Support Rx Single: http://reactivex.io/documentation/single.html
Annotation: @RxLogSingle.

[2015-11-11 22:36] android10 opened #8 "Support @RxLogObservable on Java interfaces"
Investigate whether is technically possible:

AspectJ provides a JoinPoint where frodo detects the return type and inject code to log observables.
By returning an interface I should search for all implementations in the code and weave logging code in each one of them?

[2015-11-11 22:36] android10 commented on #1
Guys, closing this one. I created a new issue to work on this.
https://github.com/android10/frodo/issues/8

Thanks for the feedback.

[2015-11-11 22:36] #1 closed

[2015-11-11 22:41] android10 commented on #4
Can you paste your code as an example? I want to reproduce the issue first.
As far as I know ```compose()``` is used to chain custom operators and there might be a problem with that.

[2015-11-12 00:47] Android-s14 commented on #4
No problem, here's a snippet:
[code]

Logcat:

		11-11 19:42:15.777  13593-13593/com.example.android D/Class﹕ Frodo => [@Observable#getObservable -> onSubscribe() :: @SubscribeOn -> main]
		11-11 19:42:15.781  13593-13818/com.example.android D/Class﹕ Frodo => [@Observable#getObservable -> onNext() -> true]
		11-11 19:42:15.781  13593-13818/com.example.android D/Class﹕ Frodo => [@Observable#getObse

[2015-11-12 02:45] Android-s14 commented on #4
Do I read logs incorrectly? `onSubscribe() :: @SubscribeOn -> main` tells me that the generating part is executed on the main thread, although it is not.

[2015-11-12 08:49] tommyd3mdi opened #9 "Hardcoded bintray fetching of runtime"
We're doing debug build where frodo is enabled on our Jenkins, which resides in a rather restricted environment, meaning that no outgoing HTTP traffic is allowed and dependencies are fetched through an internal Nexus instance.

When I build with frodo enabled on that machine, I get

Is there any way to make this configurable?

[2015-11-12 09:45] tommyd3mdi commented on #9
Also, may I request that you set up bintray's easy [sync](http://blog.bintray.com/2014/02/11/bintray-as-pain-free-gateway-to-maven-central/) to Maven central? That would be super-cool :) Thank you!

[2015-11-12 12:35] android10 commented on #9
I labeled this as a bug. Will work on this. Thanks for reporting.

[2015-11-12 23:01] android10 commented on #9
@tommyd3mdi can you try if the problem is fixed? It seems that frodo-runtime was not included in jcenter().

[2015-11-13 10:19] tommyd3mdi commented on #9
Problem is that we cannot access jcenter() on our Jenkins and that we have our own separate Nexus set up that only proxies to Maven Central. The issue with jcenter() / bintray is really that it doesn't play completely nice with Nexus (see https://issues.sonatype.org/browse/NEXUS-9196) and that our admins will not include it therefor.

[2015-11-13 11:40] android10 commented on #9
Ok! Now I get it @tommyd3mdi. Will look into the article you sent :)

[2015-11-17 15:17] marwinxxii commented on #4
I can confirm this.

[code]

Logs following:

[code]

[2015-11-17 22:15] android10 commented on #4
Nice feedback guys. I have to change the output here, since it is wrong.
Will label this as a bug and fix it asap for the next release, which would be happen very soon.
Keep you in the loop.

[2015-11-20 21:54] android10 commented on #4
@Android-s14 @marwinxxii this works as expected:

[code]

I have to dive deeper here, there is something I'm not understanding within this behavior.

[2015-11-21 02:25] Android-s14 commented on #4
Indeed, when playing around with a simple observable, placing `subscribeOn()` inside the method that returns an `Observable` and is annotated with `@RxLogObservable` results in the "main" log message, while applying `subscribeOn()` outside of the annotated method returns the correct thread.

[2015-11-24 21:57] android10 commented on #4
@Android-s14 nice input. This behavior definitely deserves more investigation.

[2015-11-29 14:36] android10 commented on #4
@Android-s14 @marwinxxii this was fixed here: https://github.com/android10/frodo/commit/7531d7f633b9ce581b0eb2afb08954fbfed2ea0d

I'm not gonna close this issue until I release a new version which is happening very soon.
Thanks again for the feedback.

[2015-11-29 20:22] Android-s14 commented on #4
@android10 thank you a lot for your work, looking forward to try the new version out

[2015-12-03 03:19] DeloDuan opened #10 "About minSdkVersion  question."
My English is not good, I hope you can understand.
this minSdkVersion is 14, but i want turn down 10.
Can you give me some advise to cope with this problem？

[2015-12-03 12:00] dawidhyzy commented on #8
:+1:

[2015-12-06 17:45] android10 commented on #10
Sorry, you cannot. The library relies on features that are provided by android sdk 14 and up.
Maybe your case is particular but nowadays the number of devices with sdk < 14 is very low and is not worth development effort to support a lower sdk.

[2015-12-06 17:45] #10 closed

[2015-12-06 20:22] android10 commented on #4
Hey guys, there is a new frodo version: 0.8.2.
Here are the release notes: https://github.com/android10/frodo/wiki/Release-Notes

I'm closing this bug since is supposed to be fixed. Any feedback is welcome.

[2015-12-06 20:22] #4 closed

[2015-12-06 20:23] android10 commented on #4
By the way, I added new functionality for narrowing down Logging scope. Check the documentation:
https://github.com/android10/frodo/wiki/@RxLogObservable

[2015-12-07 18:03] Android-s14 opened #11 "NPE in annotated method: Observable<Void>"
Caught this exception:
[code]
Happened for a method with the following signature:
[code]

[2015-12-07 22:35] android10 commented on #11
@Android-s14 interesting. Thanks for reporting. Will try to reproduce and mark it as bug.

[2016-01-02 20:28] dbacinski commented on #11
The same problem occurs for methods run from junit test.
[code]
annotation is always null

[2016-01-03 08:04] android10 commented on #11
@dbacinski thanks. I marked this as a bug. It is gonna be fixed within the next release very soon :)

[2016-01-03 10:39] dbacinski commented on #11
I have reproduced it in the sample app, here is a failing test:
https://github.com/dbacinski/frodo/commit/75c2b1b59668badc6441c26e3f898d9210666c0f

[2016-01-03 10:55] dbacinski commented on #11
Changing annotations retention to RUNTIME fixes NPE:
https://github.com/dbacinski/frodo/commit/fb6eed2900c7e6d0c0c944c2f5231267be01c976

[2016-01-03 11:01] dbacinski commented on #11
https://github.com/android10/frodo/pull/12

[2016-01-03 11:11] dbacinski opened #13 "Gradle sync error"
After bumping plugin version, gradle sync fails on sample app module and I am not able to build library. The same problem occurs while building commit on jitpack.

[code]

https://jitpack.io/com/github/dbacinski/frodo/f87c2c4113/build.log

[2016-01-04 15:10] android10 commented on #11
@dbacinski awesome! Will look into the PR asap.

[2016-01-08 23:18] Philio commented on #11
Had a similar crash, possibly the same issue:

    Caused by: java.lang.NullPointerException
        at com.fernandocejas.frodo.aspect.LogObservable.methodAnnotatedWithRxLogObservable(LogObservable.java:27)

     @RxLogObservable
    public Observable<Pair<UserTotal, List<ActiveCompetition>>> loadActiveCompetitions() {

Works on Android 6, crash was on 4.4.4

[2016-01-11 08:42] dbacinski commented on #11
@android10 any update?

[2016-01-13 12:41] ayanyev commented on #11
Hi, I've rolled back to 0.8.1, got rid of Scopes and since I got no such error

[2016-01-13 17:15] dbacinski commented on #11
@ayanyev good point, problem is due to accesing Scope stored in Annotation in runtime.

[2016-01-17 22:08] android10 commented on #11
Sorry guys. I have been out for a while. @dbacinski will review your PR by the end of the week.

[2016-01-17 22:23] android10 commented on #13
have you tried first executing ```./install_frodo``` ? Since every time I rollout a new version I commit changes regarding next development version, which still does not exist.

[2016-01-18 08:11] dbacinski commented on #13
Thank you for help, now it works.

After running ./install_frodo and instaling Maven3 project builds correctly.
Without Maven installed script was not able to install artifact in local maven repository:
[code]
Issue is still valid for jitpack build.

[2016-01-18 21:30] android10 commented on #13
@dbacinski it relies on maven to install in local repository. For now unfortunately, I will not give support to jitpack, I will open an issue and mark it as enhancement.

Thanks for your collaboration buddy!

[2016-01-18 21:30] #13 closed

[2016-01-20 08:40] spirosoik opened #14 "@RxLogSubscriber NullPointerException"
There are a few problems with a library dude which I will try to solve and send a PR. I found that if send an empty observable back or a null value back then the RxLogSubscriber crashes with NullPointerException. If I removed it then the subscriber works normally.

[2016-01-21 15:49] iammert opened #15 "Logging for anonymus subscriber"
I see that we can use RxLogSubscriber annotation for Subscriber classes,Is there any suggestion for anonymus subscriber?

[2016-01-23 14:54] #11 closed

[2016-01-23 14:55] android10 commented on #14
@spirosoik great. If you have more details, please put them here so we can find out what the problem is and solve it :)

[2016-01-24 07:40] dbacinski commented on #11
will be fixed in next version - 0.8.3

[2016-01-30 12:34] android10 commented on #15
Can you elaborate a little bit more? What is your use case or problem you are facing?

[2016-01-30 13:07] iammert commented on #15
[code]

This is snippet from my Presenter class. Can i use RxLogSubscriber on anonymus subscriber?

[2016-01-30 16:58] android10 commented on #15
@iammert I thought you were meaning when you call ```subscribe()``` without any parameters which internally creates an anonymous ```Subscriber()```.
Anyway, either case is not possible at the moment with ```frodo```. I will keep it in mind for future versions although I have to investigate a little bit more and I cannot assure that this is doable.

If you come up with a solutions, I will really ap

[2016-01-30 16:59] android10 commented on #15
Closing the ticket for now. Thanks for the feedback.

[2016-01-30 16:59] #15 closed

[2016-02-03 18:36] simplysoft opened #16 "Customizable Logging implementation"
It would be nice if there is a way to provide a custom `DebugLog` implementation, so that logging with other libraries (e.g. via log4j, Timber) could be achieved

[2016-02-05 15:53] ANPez commented on #14
I have this very same problem. Logging an observable with fixed elements reproduces the problem on the emulator with Android 4.4. On my Nexus 5 with Android 6 works perfectly. Of course, it only happens when compiled for debug. Below the code that reproduces the problem.

`@Singleton
public class LocalFrames {
  private static final String TAG = LocalFrames.class.getSimpleName();

  private List<F

[2016-02-05 16:05] Android-s14 commented on #11
@android10 any plans to release a new version with the fix? Thank you.

[2016-02-05 20:40] android10 commented on #11
@Android-s14 yes! by the end of next week there is gonna be a release :). I have to add some tests and another fix and I'm done.

[2016-02-05 20:41] android10 commented on #14
@ANPez thanks for reporting this. I have plans to release a new version by the end of next week with some fixes (this one included).

[2016-02-06 00:23] android10 commented on #16
I get your idea. Have you considered to implement it and send a PR?
Thanks so much.

[2016-02-07 08:21] spirosoik commented on #14
Guys I found the problem. Let's assume that for some reason we want to sent back a null observable ```Observable.just(null)```. @android10 [Here](https://github.com/android10/frodo/blob/master/frodo-runtime/src/main/java/com/fernandocejas/frodo/joinpoint/FrodoJoinPoint.java#L50)  you are trying to fetch the args of the Subscriber join point where in this case the ```this.methodParamValuesList``` w

[2016-02-09 22:07] zbigniew-malinowski opened #17 "Does not work with retrolambda"
@android10 , thanks for this tool, it's very helpful!

I've just started some side project to play with RxJava. I'm using retrolambda as it cleans a code a little, but it seems that this plugin breaks down Frodo's logging.

Is it a bug in Frodo or just the way retrolambda is magic messing with aspectj? I can live without retrolambda, but I suppose there are projects heavy relying on this, maybe it

[2016-02-09 22:22] zbigniew-malinowski commented on #17
Oops, false alarm. I was checking with some old version of retrolambda. In recent version (3.2.5) there is no such problem.

Sorry for spamming.

[2016-02-09 22:22] #17 closed

[2016-02-11 15:23] spirosoik commented on #14
@android10 @ANPez which you prefer guys?

[2016-02-15 19:44] android10 commented on #14
@spirosoik good catch! I think since this is an utility library for logging and debugging, it is nice to be defensive. I would vote for both in this case.
If you have plans to open a PR, we can comment and discuss over there, which in my opinion is the best way since we are directly dealing with the code :). What do you think?

[2016-02-15 20:00] spirosoik commented on #14
@android10 I agree i prefer both of them. Yes I will send a PR dude and we can discuss there.

[2016-02-15 20:05] android10 commented on #14
@spirosoik I really appreciate that man! :+1:

[2016-02-15 20:06] spirosoik commented on #14
@android10 Glad to help dude.

[2016-02-19 20:55] Rainer-Lang commented on #11
@android10 Don't want to rush you... Same problem here...

[2016-02-22 21:56] android10 commented on #11
There is an open PR for this, feel free to review as well.

[2016-02-24 12:28] simplysoft opened #19 "NPE when enabling proguard optimization"
We get the following exception when we have proguard optimization turned on
[code]

We have a rather special setup (debug built type & minify configuration similar to release), so this kind of problems we are not really unexpected, but would be good to make the code more resilient to just fall back to do nothing.

[2016-03-01 21:56] android10 commented on #19
It is clear that you have to apply a rule there.
I'm not gonna cover any obfuscation since the library was meant for debug build variants and I could not find any use case where proguard is enabled on debug build types.

In that case, if you are interested in that, you can send a PR and I review it.

Thanks.

[2016-03-01 21:56] #19 closed

[2016-03-01 22:38] android10 commented on #8
Closing since this is not gonna be implemented at the moment.

[2016-03-01 22:38] #8 closed

[2016-03-01 23:22] android10 commented on #11
@dbacinski @Rainer-Lang @Android-s14 still cannot reproduce this problem.
I added more samples to reproduce the problem and by both ```Observable.just(null)``` and ```Observable<Void>``` and everything seems to be fine:

[code]

Here is the commit: https://github.com/android10/frodo/commit/e281739cea7577d8143858b371627252535f4808

[2016-03-04 21:28] dbacinski commented on #11
@android10 did you try to run this test:
https://github.com/dbacinski/frodo/commit/75c2b1b59668badc6441c26e3f898d9210666c0f

[2016-03-06 12:58] simplysoft opened #20 "Disable Frodo using Gradle"
This is related to #19. As an alternative it would be good to have the ability to manually disable frodo, similar as it is possible with [hugo](https://github.com/JakeWharton/hugo), something like this:

[code]

[2016-03-10 14:25] android10 commented on #11
@dbacinski this is the failing line?
```numbers.toList().toBlocking().single()```

[2016-03-10 14:38] android10 commented on #11
By the way what you are mentioning, works to me. Actually I added an example: https://github.com/android10/frodo/commit/8b6e094387ff4b287bad22c26deeb66a7b211c9b

Here is the output:
[code]

[2016-03-10 14:39] android10 commented on #20
Interesting and fair point. Will mark it as enhancement. Thanks for the suggestion.

[2016-03-10 15:12] #14 closed

[2016-03-14 10:16] cesards opened #22 "Frodo + Robolectric NullPointerException"
Whenever I run my tests, the ones who use Frodo annotated methods get a NullPointerException. It looks like they don't get well with Robolectric. Do they?

[code]
The failing method is:
[code]

Do you need more info?

[2016-03-14 12:17] cesards commented on #22
Actually is crashing as well in production:
[code]

[2016-03-14 15:09] android10 commented on #22
It is not this project responsibility to support 3rd party libraries like robolectric and if you have issues with it, please send a PR.

On the other hand, if it is crashing on your android app, can you post sample code so this can be reproduced and for instance evaluate whether is an issue and give it a priority?

Thanks!

[2016-03-15 08:20] Coolerfall opened #23 "App is crashing with NullPointerException on Android 4.2.2"
Caused by: java.lang.NullPointerException at com.fernandocejas.frodo.aspect.LogObservable.methodAnnotatedWithRxLogObservable(LogObservable.java:27)
I just use Observable.just(SomethingList), but sometimes SomethingList will be a empty list(not null), or when I use Observable.empty(), and then it is crashing when use @RxLogObservable.

[2016-03-17 03:55] Nexen23 commented on #23
Same here. Any workarounds?

[2016-03-24 21:48] emakar opened #24 "RxLogSubscriber for subjects or hot observable"
Currently logging shared hot observable or subject via RxLogObservable could result in unreadable log:

Assume we have a subject returned as observable and we just want to log its emission (and possibly - subscribers count)
Currently it's only possible to annotate a method with RxLogObservable
[code]
And for each Subscriber we'll have a log entry per emission/completion/error, entries are equal th

[2016-04-06 20:13] aleksandar9 commented on #23
Hi
You can use the following sample to reproduce the issue:
[code]
Also, I can confirm it not only crashes on Android 4.2.2, but also on Android 4.4.2 with the following log:
[code]
After some debugging I discovered that LogObservable.java:25  `final Annotation annotation = frodoJoinPoint.getAnnotation(RxLogObservable.class);` is actually null and therefore causing the crash.

[2016-04-07 19:40] aleksandar9 commented on #23
I see that this issue might be resolved in version 0.8.3, I hope it will be published soon enough ;)

[2016-04-11 10:25] farmazon3000 commented on #3
Then why did you close this issue instead of changing it to "feature request" type?

[2016-04-11 10:34] farmazon3000 opened #25 "Logs from onSubscribe() does not log which thread it happened in"
I'm using version
[code]
I have
[code]
then I call it with
[code]

Output is:
[code]

While I expect this
[code]

[2016-04-11 10:36] farmazon3000 commented on #25
I may be realted to #4

[2016-04-14 10:56] paramsen commented on #23
I'm experiencing this as well:
`java.lang.NullPointerException at com.fernandocejas.frodo.aspect.LogObservable.methodAnnotatedWithRxLogObservable(LogObservable.java:27)`

[2016-04-24 08:38] #22 closed

[2016-04-24 08:39] android10 commented on #23
This was fixed here: https://github.com/android10/frodo/commit/33dea2c4f28c7d4eefc9f9811d23e91fc7c35a01

Releasing a new version next week. Thanks for reporting.

[2016-04-24 08:45] android10 commented on #25
This should be fixed within the new version coming out next week. Thanks for reporting.

[2016-04-24 10:30] hzsweers opened #27 "NPE when using RxLogObservable"
I always get this exception when using it:

[code]

Method looks like this:

[code]

[2016-04-24 11:01] #20 closed

[2016-04-24 11:02] android10 commented on #20
This was added here: https://github.com/android10/frodo/commit/d5a910f7e1bea3600aa9a61b560901435b8b3714

[2016-04-24 11:33] android10 commented on #27
Thanks for reporting. This is related to #11 and should be fixed within the next version coming up next week.
Here is the change set: https://github.com/android10/frodo/commit/9112c07ad78346865f787c70c17c7b43f904f3eb

[2016-04-24 22:21] hzsweers commented on #27
Ah cool, in that case I'll close this then and look forward to the release. Thanks!

[2016-04-24 22:21] #27 closed

[2016-04-25 03:21] lengxf opened #28 "there is bug on android api 15,but wok on api 22 is ok in my app."
Caused by: java.lang.NullPointerException
                                                                       at com.fernandocejas.frodo.aspect.LogObservable.methodAnnotatedWithRxLogObservable(LogObservable.java:27)
                                                                       at com.jytcorp.ingot.data.sqlite.dataset.AccountTable.getDefaultUser(AccountTable.java)

[2016-04-25 03:22] lengxf commented on #28
https://github.com/lengxf/Ingot
this is my demo.

[2016-05-06 17:02] hzsweers commented on #27
Any update?

[2016-05-22 07:26] dawidhyzy commented on #23
Same issue on Android 4.4.2

[2016-05-22 11:16] android10 commented on #23
Closing since version 0.8.3 has been released 😃

[2016-05-22 11:16] #23 closed

[2016-05-22 11:17] android10 commented on #25
Closing since version 0.8.3 has been released. 😃 . Let's re open if the new version does not fix this problem.

[2016-05-22 11:17] #25 closed

[2016-05-22 11:18] android10 commented on #28
This should be fixed within version 0.8.3. 😃 . I'm gonna close it and let's re open whether the issue is not fixed within the latest version.

[2016-05-22 11:18] #28 closed

[2016-05-27 11:26] VictorAlbertos opened #29 "RxLogObservable annotation for entire class."
Hi Fernando. Thanks for this awesome library :)

I've just integrated it in my current project and it works perfectly. The problem is that I needed to annotation like 50 methods xD

I've annotated every `public` method for every one of my repositories (and most of their methods have a `public` visibility). So, I think it will be nice to have an `annotation` with target `ElementType.TYPE` in order

[2016-05-28 09:02] spirosoik opened #31 "Dynamic implementation in `doOnError()` or `onErrorResumeNext` for release builds"
It will be great to have the ability to add dynamic implementations for logging purposes for `doOnError()` or `onErrorResumeNext`.

eg. imagine that we want to track logs for crash reporting reasons for our data layer, so what we could do, is to create a custom `ErrorLoggingAction` and we could attach it manually. Another option is to create an observable facade which it could include this logging

[2016-07-10 20:49] athornz commented on #9
I'd just like to bump this and suggest that maybe it's not such a low priority!

This actually caused our dependency resolution to slow dramatically, as instead of hitting our internal repo (artifactory), it was hitting bintray first every time.

It should really just be part of adding the plugin that you need to also add the bintray dependency?

[2016-07-10 21:23] android10 commented on #9
@athornz the reason why I put it low priority is because this does not affect the functionality of the library. And the process to add this to maven central is from the stone age and it takes forever.

The way we solved it at Soundcloud (for now), is that if you have a nexus server, just download the jars and add them manually to your internal repo.

[2016-07-10 21:48] athornz commented on #9
Is it not a simple fix to remove the adding of the bintray repository from the plugin, and adding it as a step in the readme though?

[2016-07-10 21:52] android10 commented on #9
@athornz the idea was to avoid as much configuration as possible. We have not suffered from that slowness you are mentioning dough. It is weird, could you give more context please?

[2016-07-10 22:40] athornz commented on #9
It's due to Gradle trying to resolve dependencies against the repositories in the correct order.

The plugin adds the bintray repository at a very early stage, before any repositories declared in my build script are added. Gradle will check the bintray repo first for every dependency it tries to resolve.

I think it even checks bintray for the android support dependencies. Because it's a network c

[2016-07-28 14:26] Blink1982 opened #32 "Failing Verification causing Crash"
needed to xxxx most of the code but something fails during the verification of toString
crashes the app. Only happens on a Samsung I9190 Galaxy S4 mini as far as i can tell.

W/dalvikvm: VFY: invoke type does not match method type of Ljava/lang/Object;.toString
07-28 16:19:47.213 4395-6657/xxx.dev.debug W/dalvikvm: VFY:  rejecting opcode 0x70 at 0x002c
07-28 16:19:47.213 4395-6657/xxx.dev.debug W/

[2016-08-01 15:38] android10 commented on #9
@athornz good point. Maybe you can send a PR if you know how to solve it.

[2016-09-08 08:26] VictorAlbertos opened #33 "RxJava 2 support"
HI @android10

Are you planning to add support for RxJava2?

[2016-09-08 08:56] android10 commented on #33
@VictorAlbertos not until we have final version. And of course PRs are always welcome :).

[2016-09-08 10:19] VictorAlbertos commented on #33
I can give a try ;)

For my own libraries I added support for RxJava2 creating another branch. Just like RxAndroid did it. Does it would be ok for you?

[2016-09-08 11:44] android10 commented on #33
@VictorAlbertos feel free. Honestly sometimes the final api can change so that is why I like to wait until we have a final version. I guess RxJava 2 is mature enough but it does not hurt to wait a bit longer.  :). Thanks for the feedback! 👍

[2016-09-08 14:30] filipebezerra commented on #16
I vote yes. Will be a nice feature.

[2016-09-08 18:12] VictorAlbertos commented on #33
I'm already working on the PR, but please I want you to take a look at this issue from RxJava:

https://github.com/ReactiveX/RxJava/issues/4515

It seems that `Subscriber` has been reserved only for `Flowable`, which is like an `Observable` but allows to handle backpressure with different strategies (`Observable` does not handle back pressure anymore). Now, in order to subscribe to an `Observable`

[2016-09-08 22:11] VictorAlbertos commented on #33
@android10 I finished :)

Take a look at this branch from my fork:
https://github.com/VictorAlbertos/frodo/commits/2.x

I'm going to need you to create a branch ("2.x" if you will) in order to perform the PR. Because it's not possible creating a PR to a non-existing branch xD

Some notes:
* I had to replace Void for Int types in the sample module. Take a look here: https://github.com/ReactiveX/RxJ

[2016-09-08 22:19] VictorAlbertos commented on #33
By the way, all test are passing and as far as I can tell the sample module outputs the right messages in the log.

[2016-09-15 14:07] VictorAlbertos commented on #33
Hi @android10

Are you planning to review the changes any time sooner? I said so because I need to start using your library with 2.x version.

Thanks :)

[2016-09-15 14:11] android10 commented on #33
@VictorAlbertos I will review the changes but keep in mind that we need to find a way to make it backward compatible.
Replacing everything with the new stuff is not gonna work since I do not want to maintain 2 libraries for 2 different versions of RxJava.

[2016-09-15 14:12] android10 commented on #33
@VictorAlbertos other thing. I'm not gonna ship a version of frodo supporting RxJava 2 until we have a final version.

[2016-09-15 14:36] VictorAlbertos commented on #33
If you don't want to create another branch/module to support 2.x, I think Frodo needs to be refactored in a really heavy way in order to be enterely decoupled from RxJava. And once that refactoring is done, two others modules need to be created, one for 1.x and another one for 2.x, trying to share as much code as possible from that "core" module. But I don't see how this could be achieved with Fro

[2016-09-15 14:43] android10 commented on #33
@VictorAlbertos yup, definitely needs a refactor. What you suggested is an option but at the moment I will freeze it until we have a final version of RxJava 2. Other point to not work on that yet, is that the adoption is pretty low.

Of course, any idea is always welcome. Again, having 2 separated frodo versions for 2 separated RxJava versions is a lot of overhead, specially with maintenance. Let'

[2016-09-15 15:04] VictorAlbertos commented on #33
Oki then ;)

[2016-12-04 19:30] winstonvk opened #34 "Frodo with proguard"
My app code contains frodo annotations.
Can I run release version of my app without deleting frodo annotations?
And also I don't want to get this exception in production:

`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.annotation.Annotation java.lang.reflect.Method.getAnnotation(java.lang.Class)' on a null object reference`

[2016-12-04 22:26] petrnohejl commented on #33
Hello. Final version of RxJava 2 has been already published. @android10 Are you going to add a support for RxJava 2?

[2016-12-05 21:15] android10 commented on #33
@petrnohejl that is the idea...but still thinking how the approach will be.
Any feedback is welcome.

Maybe it is better to create another library that supports only RxJava 2 rather than modifying frodo to support the latest one, since they use different types and packages...

A couple of questions need an answer:

1 - Create frodo2?
2 - In case of supporting both versions of RxJava, what the anno

[2016-12-05 21:17] android10 commented on #34
@winstonvk that is the idea behind frodo. It compiles and injects code on debug version of the app so you are safe to release your app and it does not need any proguard rule.

Regarding the annotation, can you elaborate more? (Context and steps to reproduce at least)

[2016-12-05 21:18] android10 commented on #24
Sorry for the late reply but I will take all this feedback for the next version of frodo.

[2016-12-05 21:19] android10 commented on #29
Another interesting feedback @VictorAlbertos. Thanks and sorry for the late reply. Will keep this in mind for the next version.

[2016-12-05 21:20] android10 commented on #31
@spirosoik sorry for the late reply.

Good feedback to keep an eye on for the next version of frodo :)

[2016-12-05 21:21] android10 commented on #32
Could you elaborate a little bit more?

- Conditions
- Context
- Steps to reproduce

[2016-12-05 21:40] petrnohejl commented on #33
I think it would make sense to create a completely new library "Frodo 2". RxJava 2 has a different API so supporting both versions of RxJava would require a huge refactoring and changes. Moreover it would have 2 dependencies - both RxJava libs.

[2016-12-05 23:25] VictorAlbertos commented on #33
Yes, it should be another library. Indeed, almost every library out there which is a reactive extension has adopted this approach. Normally, rather than creating a new repo, they create another branch.

About the annotations, I think the [repo](https://github.com/VictorAlbertos/frodo) which I created months ago could be a good starting point.

[2016-12-06 12:06] android10 commented on #33
@VictorAlbertos I have something already working with some refactor, so I will also upload it in order to combina efforts and come up with a new version.

[2016-12-08 18:44] winstonvk commented on #34
@android10
I've added this annotation — @RxLogObservabele to log my observable
On debug mode everything works perfect!
But on release build variant it crashs.

Also I added:
1) `compile "com.fernandocejas.frodo:frodo-api:${frodoVersion}"` in my module `build.gradle` file
2) `apply plugin: 'com.fernandocejas.frodo'` in the same place
3) `classpath "com.fernandocejas.frodo:frodo-plugin:${frodoVersio

[2016-12-08 20:19] android10 commented on #34
@winstonvk well, that is the purpose of the library. No code will be weaved in production/release. And that is not something that I'm planning to support, so I will close the ticket.

Thanks for the details.

[2016-12-08 20:19] #34 closed

[2017-01-13 13:15] ubuntudroid opened #35 "Kotlin support"
As more and more code in our app is being migrated to Kotlin we'd like to use Frodo there as well. However it seem that Kotlin isn't supported as of now.

However when using the Frodo annotations exclusively in Kotlin code we receive
[code]

This error doesn't appear and the Java code logging works, but in both cases logging for Kotlin classes doesn't work.

Hugo is suffering the same problem: htt

[2017-02-10 22:33] TonyTangAndroid commented on #33
Looking forwarding to Rxjava2 support with "_Frodo2_"

[2017-02-14 14:11] android10 commented on #33
@TonyTangAndroid It is a WIP. Will come to light soon.

[2017-02-14 14:12] android10 commented on #33
Closing since this is going to happen here:
https://github.com/android10/frodo2

[2017-02-14 14:12] #33 closed

[2017-03-16 07:11] ZemtsovVU opened #37 "NullPointerException: RxLogObservable (Android 7.1.1)"
Nexus 5x
Nexus 6p
Android 7.1.1

In some cases throwing NPE:

java.lang.NullPointerException: Attempt to invoke interface method 'com.fernandocejas.frodo.annotation.RxLogObservable$Scope com.fernandocejas.frodo.annotation.RxLogObservable.value()' on a null object reference
                                                                                                    	at com.fernandocejas.frod

[2017-03-16 19:18] daimonkor opened #38 "Implement for RxJava 2"
Please implement logging for new RxJava 2
`Caused by: java.lang.ClassNotFoundException: Didn't find class "rx.Observable" on path: DexPathList[[zip file "/data/app/***/base.apk"],nativeLibraryDirectories=[/data/app/***/lib/x86, /system/lib, /vendor/lib]]`
Thanks for your support.

[2017-07-11 14:14] tieorange commented on #7
Any news?

[2017-07-11 15:51] android10 commented on #7
@tieorange This is not going to be implemented, unless you send a PR 👍

There are efforts from my side to work on Frodo 2: https://github.com/android10/frodo2

[2017-09-15 14:04] AlexTrotsenko commented on #38
I will just post it here for the info purposes:
https://github.com/android10/frodo/issues/33

[2017-09-15 14:06] AlexTrotsenko opened #39 "Add info, that current lib is not compatible with RxJava2 in Readme"
I know, that there are issues like following:
https://github.com/android10/frodo/issues/38
https://github.com/android10/frodo/issues/33

Issue: after  looking in the `Readme` it's not that clear, that it's not compatible with RxJava2 _(which is mostly used now days)_

Adding link to https://github.com/android10/frodo2 might be useful as well.

[2017-09-15 14:09] AlexTrotsenko commented on #33
I know, that there is this https://github.com/android10/frodo2/issues/1 issue, but is there any plan to publish `frodo2` in `mavenCentral`/`jcenter`?

I have not looked deep inside, but as far as I see:

[2017-09-15 15:25] android10 commented on #33
@AlexTrotsenko that is the idea. I have not had enough time to work on the project but it is on its way. I will grab it again and generate a preview so people can start using it :)

[2018-04-13 14:57] duanniston opened #41 "Gradle 4 compile error"
Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

Configuration 'debugCompile' is obsolete and has been replaced with 'debugImplementation' and 'debugApi'.
It will be removed at the end of 2018. For more information see: http:

[2018-05-25 12:01] vuhomobytelab commented on #41
I met those warnings when build apk.
Please fix it :(

[2018-07-02 10:44] SysAider commented on #41
Any news?

[2018-09-28 11:31] alexbaryzhikov commented on #41
What's going to happen if it's not fixed by the end of 2018?

[2019-01-23 07:00] dharmendrainnovify commented on #41
Is there any chance to fix this?

[2021-04-22 14:05] techker opened #42 "migration to mavenCentral done?"
Hey, since this repo is still in Jcenter will it be moved to Maven?

[2022-01-24 14:04] moizirshad opened #43 "Failed to apply plugin 'com.fernandocejas.frodo'"
I updated my project to

classpath 'com.android.tools.build:gradle:7.0.4'
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-all.zip

now I am phasing this problem.

A problem occurred evaluating project ':app'.